.view-article-page {
  max-width: 1200px;
  margin: 0 auto;
  .toolbar {
    position: absolute;
    top: 0;
    right: 0;
  }
  .header,
  .body {
    position: relative;
    padding: 20px 40px;
    margin-bottom: 20px;
  }
  .body {
    padding: 40px;
  }
}
