.document-page-content {
  .left-navigation {
    width: 300px;
    min-width: 300px;
    position: absolute;
    z-index: 1;
  }
  .main-content {
    display: inline-block;
    position: absolute;
    padding-left: 300px;
    padding-right: 80px;
    top: 0;
    width: 100%;
  }
}
