.document-page-content {
  padding-left: 340px;
  .knowledge-tree-label {
    h5, a {
      display: inline-block;
    }
    a {
      margin-left: 10px;
    }
  }
  .left-navigation {
    width: 300px;
    position: absolute;
    left: 40px;
    top: 60px;
  }
  .main-content {
    margin:0 auto;
    max-width: 1200px;
    min-width: 650px;
  }
  .blank-article {
    text-align: center;
    padding: 30px;
    color: gray;
  }
}
