.component-article-tag-list {
  .tag {
    color: #39739d;
    white-space: nowrap;
    background: #E1ECF4;
    border: 1px solid #E1ECF4;
    display: inline-block;
    margin: 0 5px 5px 5px;
    border-radius: 0;
    padding:.2em .5em;
  }
}
