.article-list-item {
  position: relative;
  padding: 15px;
  margin-bottom: 20px;

  a:focus,
  a:hover {
    font-size: 30px;
    text-decoration: none;
  }

  h3 {
    margin: 0;
    margin-bottom: 10px;
    min-height: 1em;
  }
  .button-group {
    position: absolute;
    top: 15px;
    right: 15px;
    > a > div {
      margin-right: 10px;
    }
  }
}



