.article-list-item {
  position: relative;
  padding: 15px 40px;
  margin-bottom: 20px;

  > a:focus,
  > a:hover {
    text-decoration: none;
  }

  .button-group {
    position: absolute;
    top: 15px;
    right: 15px;
    > a > div {
      margin-right: 10px;
    }
  }
}



