.overtime-table .overtime-table__body {
	td {
		text-align: center;
	}
	&--empty {
		text-align: center;
	}
}

.overtime-table .hide {
	display: none;
}

.overtime-table {
	&__table-content {
		width: 100%;
	}
	.overtime-table__header {
		text-align: center;
		cursor: pointer;
	}
}
