.navigation {
	&__header-logo {
		display: inline-block;
		margin-right: 5px;
		width: 82px;
		height: 54px;
		background: url('../../assets/images/logo-white.png') no-repeat 0 0;
		vertical-align: middle;
		@media screen and (max-width: 1024px){
			width:41px;
			height:27px;
			background-size: 100%;
		}
	}
	&__header-title {
		vertical-align: middle;
		@media screen and (max-width: 1024px){
			display:none;
		}
	}
	&__link--active {
		font-weight: bold;
	}
}

.mdl-layout__header--level1 {
	background: #3f51b5;
	color: #fff;
}

.mdl-layout__header--level2 {
	background: #eee;
	color: #666;
}

.mdl-layout__header-row .mdl-navigation__link{
	font-size:16px;
	padding: 0 20px;
	outline:none;
	@media screen and (max-width: 1024px){
		padding: 0 5px;
	}
}

.mdl-layout__header{
	@media screen and (max-width: 1024px){
		display:block; /* because we use notebook when meeting. */
	}
}


.mdl-layout__header-row{padding:0 20px 0 40px;}

.top-right-area{
	position:absolute;
	top:10px;
	right:40px;
	&:hover .top-right-area__sub-area{
		display:block;
	}
}
.top-right-area__sub-area{
	display:none;
	position: absolute;
	background: #fff;
	width:300px;
	margin:0 0 0 -100px;
	border:1px solid #9cc8eb;
	z-index:1; /*NEED ALSO .mdl-layout__header{z-index:auto;}*/

}
.mdl-layout__header{z-index:auto;} /*override*/
.top-right-area__bar{
	width:200px;
}
.top-right-area__bar:after{
	content:'';
	height:0;
	display:block;
	visibility:hidden;
	clear:both;
}
.top-right-area__summary{
	float:right;
	cursor: pointer;
	height:45px;
	width:45px;
	background: url(../../assets/images/avatar.png) no-repeat 50% #abd4e3;
	border:1px solid green;
	border-radius: 50%;
}

.top-right-area__sub-area__head{
	width:94%;
	margin:10px auto;
	color:#333;
}
.top-right-area__sub-area__foot button{
	width:94%;
	margin:0 auto 10px;
	height:36px;
	display:block;
	background: #428BCA;
	border:0;
}
