.navigation {
	&__header-logo {
		display: inline-block;
		margin-right: 5px;
		width: 82px;
		height: 54px;
		background: url('../../assets/images/logo-white.png') no-repeat 0 0;
		vertical-align: middle;
	}
	&__header-title {
		vertical-align: middle;
	}
	&__link--active {
		font-weight: bold;
	}
}

.mdl-layout__header--level1 {
	background: #3f51b5;
	color: #fff;
}

.mdl-layout__header--level2 {
	background: #eee;
	color: #666;
}