.navigation {
	&__header-logo {
		display: inline-block;
		margin-right: 5px;
		width: 82px;
		height: 54px;
		background: url('../../assets/images/logo.png') no-repeat 0 0;
		vertical-align: middle;
	}
	&__header-title {
		vertical-align: middle;
	}
}