@define-extend selected {
    font-weight: bold;
    font-size: 1.05em;
}

@define-extend treeCount {
    position: absolute;
    // display: inline-block;
    right: 0px;
}

.category-tree-node {
    cursor: pointer;
    &__leaf {
        cursor: pointer;
        display: block;
        &--selected {
            margin-left: 20px;
            line-height: 32px;
            @extend selected
        }
    }
    &--selected {
        cursor: pointer;
        .category-tree-node__count {
            @extend treeCount
        }
        @extend selected
    }

}

.category-tree-node__count {
    @extend treeCount
}

.category-tree-node__leaf {
    margin-left:20px;
    line-height: 32px;
    position: relative;
}

.category-tree {
    margin-top:20px;
}

.tree-view {
    font-size: 16px;
}

.tree-view_item {
    position: relative;
    line-height: 32px;
}

.tree-view_children {
    position: relative;
}

.tree-view_arrow {
    &:after {
        font-size: 24px;
    }
}