
.bgm-teal-light { background-color: rgba(0,150,136, 0.5) !important;}
.bgm-red-light { background-color: rgba(244, 67, 54, 0.5) !important;}
.bgm-pink-light { background-color: rgba(233, 30, 99, 0.5) !important;}
.bgm-blue-light { background-color: rgba(33, 150, 243, 0.5) !important;}
.bgm-lime-light { background-color: rgba(251, 188, 5, 0.65) !important;}
.bgm-green-light { background-color: rgba(76, 175, 80, 0.5) !important;}
.bgm-cyan-light { background-color: rgba(0, 188, 212, 0.5) !important;}
.bgm-orange-light { background-color: rgba(255, 152, 0, 0.5) !important;}
.bgm-purple-light { background-color: rgba(156, 39, 176, 0.5) !important;}

.bgm-white {
  background-color: #ffffff !important;
}


.c-white {
  color: #ffffff !important;
}

.bgm-black {
  background-color: #000000 !important;
}

.c-black {
  color: #000000 !important;
}

.bgm-brown {
  background-color: #795548 !important;
}

.c-brown {
  color: #795548 !important;
}

.bgm-pink {
  background-color: #e91e63 !important;
}

.c-pink {
  color: #e91e63 !important;
}

.bgm-red {
  background-color: #f44336 !important;
}

.c-red {
  color: #f44336 !important;
}

.bgm-blue {
  background-color: #2196f3 !important;
}

.c-blue {
  color: #2196f3 !important;
}

.bgm-purple {
  background-color: #9c27b0 !important;
}

.c-purple {
  color: #9c27b0 !important;
}

.bgm-deeppurple {
  background-color: #673ab7 !important;
}

.c-deeppurple {
  color: #673ab7 !important;
}

.bgm-lightblue {
  background-color: #03a9f4 !important;
}

.c-lightblue {
  color: #03a9f4 !important;
}

.bgm-cyan {
  background-color: #00bcd4 !important;
}

.c-cyan {
  color: #00bcd4 !important;
}

.bgm-teal {
  background-color: #009688 !important;
}

.c-teal {
  color: #009688 !important;
}

.bgm-green {
  background-color: #4caf50 !important;
}

.c-green {
  color: #4caf50 !important;
}

.bgm-lightgreen {
  background-color: #8bc34a !important;
}

.c-lightgreen {
  color: #8bc34a !important;
}

.bgm-lime {
  background-color: #FBBC05 !important;
}

.c-lime {
  color: #cddc39 !important;
}

.bgm-yellow {
  background-color: #ffeb3b !important;
}

.c-yellow {
  color: #ffeb3b !important;
}

.bgm-amber {
  background-color: #ffc107 !important;
}

.c-amber {
  color: #ffc107 !important;
}

.bgm-orange {
  background-color: #ff9800 !important;
}

.c-orange {
  color: #ff9800 !important;
}

.bgm-deeporange {
  background-color: #ff5722 !important;
}

.c-deeporange {
  color: #ff5722 !important;
}

.bgm-gray {
  background-color: #9e9e9e !important;
}

.c-gray {
  color: #9e9e9e !important;
}

.bgm-bluegray {
  background-color: #607d8b !important;
}

.c-bluegray {
  color: #607d8b !important;
}

.bgm-indigo {
  background-color: #3f51b5 !important;
}

.c-indigo {
  color: #3f51b5 !important;
}