

.table_header_style{
	border-right: solid 1px #fff;
	text-align: center !important;
}

.table-tr {
	height: 100px !important;
}

.weekend-style{
	background-color : #E2E2E2 !important;
}

.cell-layout-style{
	border-right: solid 1px #fff;
	padding: 2px 2px 2px 2px !important;
	text-align: center !important;
}

.label-default-style{
	border: none !important;
	font-weight: 100;
	font-size: 8px;
}

.add-button {
	background-color: #42bd41 !important;
}

.cell-default-item {
	width: 100%;
	height: 100%;
	z-index: -1;
}

.cell-top-item {
	z-index: 1;
	top: 2px;
    position: absolute;
    padding-right: 2px;
    padding-left: 2px;
    margin-left: 2px !important;
    width: 100%;
}

.cell-top-item-inner-text {
	margin-top: 1px;
	padding-left: 3px;
	margin-right: 5px !important;
}

/* Modify Material checkbox style. */
.mdl-checkbox__box-outline {
	border: 2px solid rgb(255, 255, 255) !important;
}
.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border: 2px solid rgb(255, 255, 255) !important;
}
.mdl-checkbox__label {
    white-space: nowrap;
}


/*
 * Material Background Colors
 */

.bgm-white {
  background-color: #ffffff !important;
}

.c-white {
  color: #ffffff !important;
}

.bgm-black {
  background-color: #000000 !important;
}

.c-black {
  color: #000000 !important;
}

.bgm-brown {
  background-color: #795548 !important;
}

.c-brown {
  color: #795548 !important;
}

.bgm-pink {
  background-color: #e91e63 !important;
}

.c-pink {
  color: #e91e63 !important;
}

.bgm-red {
  background-color: #f44336 !important;
}

.c-red {
  color: #f44336 !important;
}

.bgm-blue {
  background-color: #2196f3 !important;
}

.c-blue {
  color: #2196f3 !important;
}

.bgm-purple {
  background-color: #9c27b0 !important;
}

.c-purple {
  color: #9c27b0 !important;
}

.bgm-deeppurple {
  background-color: #673ab7 !important;
}

.c-deeppurple {
  color: #673ab7 !important;
}

.bgm-lightblue {
  background-color: #03a9f4 !important;
}

.c-lightblue {
  color: #03a9f4 !important;
}

.bgm-cyan {
  background-color: #00bcd4 !important;
}

.c-cyan {
  color: #00bcd4 !important;
}

.bgm-teal {
  background-color: #009688 !important;
}

.c-teal {
  color: #009688 !important;
}

.bgm-green {
  background-color: #4caf50 !important;
}

.c-green {
  color: #4caf50 !important;
}

.bgm-lightgreen {
  background-color: #8bc34a !important;
}

.c-lightgreen {
  color: #8bc34a !important;
}

.bgm-lime {
  background-color: #cddc39 !important;
}

.c-lime {
  color: #cddc39 !important;
}

.bgm-yellow {
  background-color: #ffeb3b !important;
}

.c-yellow {
  color: #ffeb3b !important;
}

.bgm-amber {
  background-color: #ffc107 !important;
}

.c-amber {
  color: #ffc107 !important;
}

.bgm-orange {
  background-color: #ff9800 !important;
}

.c-orange {
  color: #ff9800 !important;
}

.bgm-deeporange {
  background-color: #ff5722 !important;
}

.c-deeporange {
  color: #ff5722 !important;
}

.bgm-gray {
  background-color: #9e9e9e !important;
}

.c-gray {
  color: #9e9e9e !important;
}

.bgm-bluegray {
  background-color: #607d8b !important;
}

.c-bluegray {
  color: #607d8b !important;
}

.bgm-indigo {
  background-color: #3f51b5 !important;
}

.c-indigo {
  color: #3f51b5 !important;
}
