.component-comment-list-item.editor {
  .component-comment-list-item-wrapper {
    .content {
      .message {
        padding: 20px;
        .component-editor {
          .CodeMirror {
            height: 100px;
          }
        }
      }
    }
  }
}
