.file-list {
  display: inline-block;
  & > span {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    .remove-button {
      cursor: pointer;
      color: gray;
      &:hover {
        color: black;
      }
    }
  }
}
