.backgroup-gray {
  background-color: #AAAAAA !important;
}

.td-default {
  text-align: left !important;
}

.span-default {
  width: 100px;
  display: block;
  padding: 0px 5px;
  white-space: nowrap;
  margin-bottom: 2px;
  overflow: hidden;
}