.edit-document-category-page {
  .category-tree-edit-table-header {
    width: 100%;
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    transition: none;
    border-bottom: 1px solid lightgray;
    .category-row {
      border: none;
      .category-name,
      .action {
        text-align: center;
      }
    }

  }
}
