body {
  margin-top:50px;
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 40%;
  padding: 59px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  text-align:center;
  .mdl-textfield {
    width:100%;
    .mdl-button {
      width:100%;
      position:relative;
    }
  }

  .logo {
    display:inline-block;
    width:96px;
    height:72px;
    background: url('../../assets/images/logo.png') no-repeat 0 0;
  }

  h5 {
    color:#aaa;
  }

}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

