export const DB_HOST = '192.168.95.155';
export const DB_PORT = 28015;
export const LDAP = {
    // url: 'ldap://corp.a10networks.com:389',
    url: 'ldap://192.168.99.64:389',
    baseDN: 'dc=corp,dc=a10networks,dc=com'
};
export const ADMIN = ['zli', 'stsai'];
export const LDAP_AUTH_PREFIX = 'corp\\';
export const SECURE_KEY = '77de68daecd823babbb58edb1c8e14d7106e83bb';
export const GK2_LOG_IN_ACCOUNT = '';
export const GK2_LOG_IN_PASSWORD = '';
export const GK2_LOG_IN_URL = 'https://gk2.a10networks.com/login/';
export const GK2_REFERER_URL = 'https://gk2.a10networks.com/login/?next=/';
export const ADMIN_ID = '00000';
export const TESTER_ID = '99999';


export const MAIL_TRANSPORTER_CONFIG = {
    service: 'Gmail',
    auth: {
        user: 'a10webgui@gmail.com',
        pass: '!@#a10webgui'
    }
};




// THESE URLs WILL BE COMING FROM DB, This section is DEV ONLY
export const GK2_BJ_4_1_MUST_FIX_BUG_URL = 'https://gk2.a10networks.com/projects/227573/bugs/list/must-fix/?pb_status=open&team=10&group_by_member=yes&must_fix=on';
export const GK2_SJ_4_1_MUST_FIX_BUG_URL = 'https://gk2.a10networks.com/projects/227573/bugs/list/must-fix/?pb_status=open&team=33&group_by_member=yes&must_fix=on';
export const GK2_BJ_3_2_MUST_FIX_BUG_URL = 'https://gk2.a10networks.com/projects/658235/bugs/list/must-fix/?pb_status=open&team=10&group_by_member=yes&must_fix=on';
export const GK2_SJ_3_2_MUST_FIX_BUG_URL = 'https://gk2.a10networks.com/projects/658235/bugs/list/must-fix/?pb_status=open&team=33&group_by_member=yes&must_fix=on';
export const GK2_BJ_4_0_3_MUST_FIX_BUG_URL = 'https://gk2.a10networks.com/projects/518503/bugs/list/must-fix/?pb_status=open&team=10&group_by_member=yes&must_fix=on';
export const GK2_SJ_4_0_3_MUST_FIX_BUG_URL = 'https://gk2.a10networks.com/projects/518503/bugs/list/must-fix/?pb_status=open&team=33&group_by_member=yes&must_fix=on';

export const GK2_MUST_FIX_BUG_URLS = [
	GK2_BJ_4_1_MUST_FIX_BUG_URL,
	GK2_SJ_4_1_MUST_FIX_BUG_URL,
	GK2_BJ_3_2_MUST_FIX_BUG_URL,
	GK2_SJ_3_2_MUST_FIX_BUG_URL,
	GK2_BJ_4_0_3_MUST_FIX_BUG_URL,
	GK2_SJ_4_0_3_MUST_FIX_BUG_URL
];

export const GK2_BJ_4_1_FEATURE_URL = 'https://gk2.a10networks.com/projects/227573/features/list/?search=&status=0&priority=0&owner=0&team=10&category=149&task_type=0&task_status=0&task_priority=0&task_owner=0&document_status=yes&document_type=0';
export const GK2_SJ_4_1_FEATURE_URL = 'https://gk2.a10networks.com/projects/227573/features/list/?search=&status=0&priority=0&owner=0&team=33&category=149&task_type=0&task_status=0&task_priority=0&task_owner=0&document_status=yes&document_type=0';
export const GK2_BJ_3_2_FEATURE_URL = 'https://gk2.a10networks.com/projects/658235/features/list/?search=&status=0&priority=0&owner=0&team=10&category=149&task_type=0&task_status=0&task_priority=0&task_owner=0&document_status=yes&document_type=0';
export const GK2_SJ_3_2_FEATURE_URL = 'https://gk2.a10networks.com/projects/658235/features/list/?search=&status=0&priority=0&owner=0&team=33&category=149&task_type=0&task_status=0&task_priority=0&task_owner=0&document_status=yes&document_type=0';
export const GK2_BJ_4_0_3_FEATURE_URL = 'https://gk2.a10networks.com/projects/518503/features/list/?search=&status=0&priority=0&owner=0&team=10&category=149&task_type=0&task_status=0&task_priority=0&task_owner=0&document_status=yes&document_type=0';
export const GK2_SJ_4_0_3_FEATURE_URL = 'https://gk2.a10networks.com/projects/518503/features/list/?search=&status=0&priority=0&owner=0&team=33&category=149&task_type=0&task_status=0&task_priority=0&task_owner=0&document_status=yes&document_type=0';

export const GK2_FEATURE_URLS = [
	GK2_BJ_4_1_FEATURE_URL,
	GK2_SJ_4_1_FEATURE_URL,
	GK2_BJ_3_2_FEATURE_URL,
	GK2_SJ_3_2_FEATURE_URL,
	GK2_BJ_4_0_3_FEATURE_URL,
	GK2_SJ_4_0_3_FEATURE_URL
];
