.search-box{
    position: absolute;
    right: 50px;
    margin-top:10px;
    .material-icons{
        cursor: pointer;
        float: right;
        margin: 14px 0 0;
    }
    &__result{
        position: absolute;
        margin-top: -10px;
        right: 0;
        display: block; /*change to none before go live*/
        border: 1px solid #ddd;
        width: 50vw;
        background: #f5f5f5;
        z-index:99;
        box-shadow: 0 5px 6px #eee;
        .search-section{
            width: 95%;
            margin:auto;
        }
    }
    &:hover {
        .search-box__result {
            display: block;
        }
    }
}

.search-section__header{
    margin: 12px 0 0;
}
.search-section-row{
    list-style-type: none;
    h4 {
        font-weight: bold;
        font-size:12px;
        font-family: Helvetica;
        margin:10px 0 0;
        a {
            font-size:18px;
            font-weight: normal;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif; /*same as global h3*/
        }
    }
}
.search-section-row__doctype {
    float:right;
    color:#ccc;
}

.search-section-row .article-tag-list .tag{
    height:auto;
    padding: 0 4px;
    cursor: default;
    &:hover{
        color: #39739d;
    }
}


.search-section__body{
    padding: 0 0 9px;
    &-title{
        margin: 9px 0 0;
        font-size:13px;
    }
    &-list{
        padding: 0;
    }
    .search-section__body-nothing {
        margin: 80px 10px 40px;
        text-align: center;
        font-size: 21px;
        color: #aaa;
    }
}


.mdl-navigation__link__tag--active{
    font-weight: bold;
    color:#888!important;
    text-decoration: none!important;
}
